#stats-button {
    border: none;
    padding: 0;
    background-color: transparent;
}

#arrow-collapse-icon {
    display: inline-block;
    transition-duration: 0.2s;
}

.stats-menu-opened {
    transform: rotate(90deg) !important;
    transition-duration: 0.2s;
}

#stats-box {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px 0 0 0;
    padding: 10px;
    border-radius: 20px;
    border: solid white 2px;
    transition: 0.4s ease, opacity 0.4s ease;
}

#stats-box h4 {
    margin: 10px;
}

.stats-menu-hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0 !important;
    overflow: hidden;
}