#stats-container {
    padding: 0 0 20px 0;
}

#stats-button {
    border: none;
    padding: 0;
    background-color: transparent;
}

#arrow-collapse-icon {
    display: inline-block;
    transform: rotate(90deg);
}