#stats-button {
    border: none;
    padding: 0;
    background-color: transparent;
}

#arrow-collapse-icon {
    display: inline-block;
    transition-duration: 0.2s;
}

.stats-menu-opened {
    transform: rotate(90deg) !important;
    transition-duration: 0.2s;
}

#stats-box {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px 0 0 0;
    padding: 10px;
    border-radius: 20px;
    border: solid white 2px;
    max-width: 300px;
}

#stats-box h4 {
    margin: 10px;
}

.stats-menu-hidden {
    display: none;
}

.statNum {
    font-weight: 700;
}