#gameboard-container {
    background-color: red;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    gap: 50px;
}

.gameboard-cell {
    background-color: white;
    height: 100px;
    width: 100px;
}

.gameboard-cell:hover {
    background-color: grey;
    cursor: pointer;
}