#gameboard-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
}

.gameboard-cell {
    background-color: grey;
    height: 100px;
    width: 100px;
    opacity: 50%;
    transition-duration: 0.2s;
}

.gameboard-cell:hover {
    background-color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}