#gameboard-container {
    background-color: red;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
}

.gameboard-cell {
    background-color: white;
    height: 100px;
    width: 100px;
}

.gameboard-cell:hover {
    background-color: grey;
    cursor: pointer;
}